version: "3.8"
services:
  gis-backend:
    build:
      context: .
    ports:
      - 8081:8081
      - 9229:9229
    environment:
      - SERVER_PORT=8080
    volumes:
      - ./:/usr/src/app
    command: npm run debug
  db:
    image: postgres
    restart: always
    env_file:
      database.env
    volumes:
    - database-data:/var/lib/postgresql/data/
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  database-data: