name: Deploy Heroku [prod]
on:
  workflow_run:
    workflows: [ "Sync" ]
    branches: [ prod ]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-heroku:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.6.8 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "petbook-back"
          heroku_email: "jbelevicius@kayak.com"
